#=========================== Filebeat inputs =============================

filebeat.inputs:
- type: log
  enabled: true
  paths:
  {% for dir in log_dirs %}
    - {{ dir }}
  {% endfor %}
  



#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s



#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 3
  #index.codec: best_compression
  #_source.enabled: false



#================================ General =====================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.
name: {{ name }}



#============================== Dashboards =====================================

setup.dashboards.enabled: {{ enable_dashboards }}



#============================== Kibana =====================================

setup.kibana:
  host: "{{ elasticsearch_server_host }}:{{ kibana_server_port }}"



#================================ Elasticsearch =====================================

output.elasticsearch:
  hosts: ["{{ elasticsearch_server_host }}:{{ elasticsearch_server_port }}"]



#================================ Procesors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
