# CHECK FILE:           haproxy -c -V -f /etc/haproxy/haproxy.cfg
# RESTART SERVICE:      sudo /etc/init.d/haproxy restart
# ---------------------------------------------------------------

global
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind *:9000
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /stats
  stats auth root:root



# FRONTEND
# ---------------------------------------------------------------
frontend {{ frontend_name }}
  bind {{ bind_address }}:{{ gitlab_frontend_port }}
  bind {{ bind_address }}:{{ kibana_frontend_port }}
  mode http
  acl d1 dst_port {{ gitlab_frontend_port }}
  acl d2 dst_port {{ kibana_frontend_port }}
  use_backend {{ gitlab_backend_name }} if d1
  use_backend {{ kibana_backend_name }} if d2
  default_backend {{ gitlab_backend_name }}


# BACKEND
# ---------------------------------------------------------------
backend {{ gitlab_backend_name }}
  mode http
  balance {{ gitlab_backend_balance_method }}
  {% for backend in gitlab_backend_servers %}
    server gitlab-{{ '%d' | format(loop.index) }} {{ hostvars[backend]['ansible_default_ipv4']['address'] }}:{{ gitlab_backend_port }} check fall 2 rise 1
  {% endfor %}

backend {{ kibana_backend_name }}
  mode http
  server monitor {{ kibana_backend_server }}:{{ kibana_backend_port }} check fall 2 rise 1

