# REDIS
redis_slave_role['enable'] = true
redis['bind'] = '{{ redis_ip }}'
redis['port'] = {{ redis_port }}
redis['password'] = '{{ redis_password }}'

# REDIS MASTER
redis['master_ip'] = '{{ hostvars[redis_master_ip]['ansible_default_ipv4']['address'] }}'
redis['master_name'] = '{{ redis_name }}'
redis['master_port'] = {{ redis_port }}
redis['master_password'] = '{{ redis_password }}'

# REDIS SENTINEL
redis_sentinel_role['enable'] = true
sentinel['bind'] = '{{ sentinel_ip }}'
sentinel['port'] = {{ sentinel_port }}
sentinel['quorum'] = {{ sentinel_quorum }}
sentinel['down_after_milliseconds'] = {{ sentinel_down_after }}
sentinel['failover_timeout'] = {{ sentinel_failover_timeout }}

gitlab_rails['auto_migrate'] = false
