external_url "http://{{ gitlab_external_url }}"
nginx['listen_port'] = {{ gitlab_nginx_listen_port }}



# REDIS
redis['enable'] = false
gitlab_rails['redis_host'] = '{{ hostvars[redis_host]['ansible_default_ipv4']['address'] }}'
gitlab_rails['redis_port'] = {{ redis_port }}
gitlab_rails['redis_password'] = '{{ redis_password }}'



# REDIS SENTINEL
redis['master_name'] = '{{ redis_name }}'
redis['master_password'] = '{{ redis_password }}'
gitlab_rails['redis_sentinels'] = [
    {'host' => '{{ hostvars[sentinel_master_host]['ansible_default_ipv4']['address'] }}', 'port' => {{sentinel_master_port}}},
{% for server in sentinel_slave_hosts %}
    {'host' => '{{ hostvars[server]['ansible_default_ipv4']['address'] }}', 'port' => {{sentinel_slave_port}}},
{% endfor %}
]



# DATABASE
postgresql['enable'] = false
gitlab_rails['db_host'] = '{{ db_host }}'
gitlab_rails['db_port'] = {{ db_port }}
gitlab_rails['db_password'] = '{{ db_password }}'
{% if ansible_facts['nodename'] == 'gitlab-2' %}
gitlab_rails['auto_migrate'] = true
gitlab_rails['initial_root_password'] = 'gitlab123456789'
{% else %}
gitlab_rails['auto_migrate'] = false
{% endif %}



# GITALY
gitaly['enable'] = true



# NFS
high_availability['mountpoint'] = '{{ nfsmount }}'
git_data_dirs({
    "default" => { "path" => "{{ nfsmount }}/gitlab-data/git-data"}
})
user['home'] = '{{ nfsmount }}/gitlab-data/home'
gitlab_rails['uploads_directory'] = '{{ nfsmount }}/gitlab-data/uploads'
gitlab_rails['shared_path'] = '{{ nfsmount }}/gitlab-data/shared'
gitlab_ci['builds_directory'] = '{{ nfsmount }}/gitlab-data/builds'
