roles ['postgres_role']

postgresql['listen_address'] = '{{ listen_address }}'
postgresql['port'] = {{ listen_port }}
postgresql['sql_user'] = '{{ sql_user }}'
postgresql['sql_user_password'] = '{{ sql_user_password }}'
postgresql['trust_auth_cidr_addresses'] = %w({{ trust_auth_cidr_addresses }})

gitlab_rails['auto_migrate'] = false

{#
# FOR HA
postgresql['hot_standby'] = 'on'
postgresql['wal_level'] = 'replica'
postgresql['shared_preload_libraries'] = 'repmgr_funcs'
postgresql['pgbouncer_user_password'] = '{{ pgbouncer_user_password }}'
postgresql['max_wal_senders'] = 4

repmgr['trust_auth_cidr_addresses'] = %w(127.0.0.1/32 {{ trust_auth_cidr_addresses }})

consul['services'] = %w(postgresql)

consul['configuration'] = {
    retry_join: %w({% for server in consul_hosts %} {{ hostvars[server]['ansible_default_ipv4']['address'] }} {% endfor %})
}
#}